@font-face {
  font-family: SpoqaHanSans;
  src: url('Spoqa Han Sans Regular.ttf') format('truetype');
}
body {
  font-family: SpoqaHanSans;
}
ul {
  list-style-type: none;
  margin: 10;
  padding-inline-start: 0px;
}

span {
  margin-left: 10px;
}
button {
  border: 0ch;
  background-color: transparent;
  padding: 2px;
}

li {
  text-align: left;
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(240, 248, 255, 0.5);

  margin: 2px 0px 2px 0px;
}

ul {
  width: 200px;
  margin: 0 auto;
}

.container {
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-size: cover;
  position: absolute;
  display: table;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.layer {
  margin: 10% auto;
}
.clockAndName {
  width: fit-content;
  background-color: rgba(240, 248, 255, 0.5);
  text-align: center;
  margin: 0 auto;
  border-radius: 10px 10px 10px 10px;
}

.clockContainer {
  width: 350px;
}
.clock {
  text-align: center;
  font-size: 72px;
  margin: 0 0 0 0;
}

.nameForm,
.greeting {
  display: none;
  text-align: center;
}

.greeting {
  width: max-content;
  padding: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 0 auto;
}

.todoForm {
  margin: 20px 0px 10px 0px;
  text-align: center;
}

.showing {
  display: block;
  text-align: center;
}
